<html lang="en">  
<head>  
</head>  
<body>  
<h5>Upload csv file</h5>  
<form action="/uploadCSV" method="post" enctype="multipart/form-data">  
  <input type="file" name="csv"><br><br>  
  <button type="submit" >submit</button>     
</form>  
</body>  
</html>  